<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jack.codu.modules.system.dao.SysUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.jack.codu.modules.system.model.SysUser">
		<id column="ID" property="id" jdbcType="INTEGER"/>
		<result column="SEX" property="sex" />
		<result column="EXPIREDATE" property="expiredate" />
		<result column="USERNAME" property="username" />
		<result column="DEPT" property="dept" />
		<result column="TELPHONE" property="telphone" />
		<result column="STATUS" property="status" />
		<result column="LOGINNAME" property="loginname" />
		<result column="PASSWORD" property="password" />
		<result column="OTHERNAME" property="othername" />
		<result column="WEBCHAT" property="webchat" />
		<result column="BIRTHDAY" property="birthday" />
		<result column="EMAIL" property="email" />
		<result column="QQ" property="qq" />
	</resultMap>
	<select id="findUserByPage" parameterType="cn.jack.codu.modules.system.model.vo.UserSearchVo" resultType="cn.jack.codu.modules.system.model.vo.SysUserVo">
		SELECT SYS_USER.*,decode(status,1,'停用','启用') status_nm,
		(SELECT DEPTNAME FROM SYS_DEPT WHERE DEPTCODE=SYS_USER.DEPT) dept_nm 
		FROM SYS_USER WHERE NVL(status,'0')!='-1'
		<if test="status != null and status != ''">
             and status=#{status}
        </if>
        <if test="username != null and username != ''">
             and (username like '%'||#{username}||'%' or loginname like '%'||#{username}||'%')
        </if>
	</select>
</mapper>
